<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <link rel="stylesheet" href="/Css/Style.css" />
  </head>
  <body>
    <header style="background-color: white">
      <nav>
        <ul style="display: flex; list-style-type: none">
          <li style="margin: 20px">
            <a href="/index" style="text-decoration: none; color: black"
              >Accueil</a
            >
          </li>
          <li style="margin: 20px">
            <a href="/services" style="text-decoration: none; color: black"
              >Nos services</a
            >
          </li>
          <li style="margin: 20px">
            <a href="/" style="text-decoration: none; color: black">Contact</a>
          </li>
        </ul>
      </nav>
    </header>
    <h1>Nous contacter</h1>
    <p>Vous pouvez nous contacter via le formulaire ci-dessous :</p>

    <!-- Votre formulaire de contact ici -->
    <textarea placeholder="Tapez votre messages ici..."></textarea>
    <footer>
      <!-- Votre footer ici -->
      <div style="height: 400px; width: 1400px; background-color: red"></div>
    </footer>
  </body>
</html>
