<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <link rel="stylesheet" href="/Css/Style.css" />
  </head>
  <body>
    <header>
      <nav style="display: flex; margin-left: 500px">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/f/fb/Alive_logo_noir.png"
          style="height: 50px; width: 50px; margin-top: 10px"
        />
        <ul style="display: flex; list-style-type: none">
          <li style="margin: 20px">
            <a href="/" style="text-decoration: none; color: black">Accueil</a>
          </li>
          <li style="margin: 20px">
            <a href="/services" style="text-decoration: none; color: black"
              >Nos services</a
            >
          </li>
          <li style="margin: 20px">
            <a href="/contact" style="text-decoration: none; color: black"
              >Contact</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <div
      class="main"
      style="height: 500px; width: 100%;display: flex"
    >
        <img
          src="https://img.pikbest.com/ai/illus_our/20230426/364b5cdb96252fe78e66b69cfb19b3c1.jpg!w700wp"
          style="height: 700px;width: 1300px; margin-left: 300px; border-radius: 10px;"
        />
      </div>
    </div>
    <h1>Voici l'Accueil</h1>
    <p>C'est l'accueil xD</p>
    <footer>
      <!-- Votre footer ici -->
      <div>
        
      </div>
    </footer>
  </body>
</html>
