<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/Css/Style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/index">Accueil</a></li>
                <li><a href="/">Nos services</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    
    <h1>services</h1>
    <p>C'est le services xD</p>

    <!-- Votre formulaire de contact ici -->

    <footer>
        <!-- Votre footer ici -->
    </footer>
</body>
</html>